.place__image {
  width: 460px;
  height: 460px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .place__image {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 389px) {
  .place__image {
    width: 320px;
    height: 320px;
    margin: 0 auto;
  }
}