.lead__subtitle {
  max-width: 640px;
  max-height: 72px;
  margin: 0 auto 64px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  color: white;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}