.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  text-decoration: none;
  background-image: url(../../resources/images/cover.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 1024px;
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 768px;
    min-height: 480px;
  }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
  .cover {
    width: 560px;
    min-height: 350px;
  }
}

@media screen and (min-width: 500px) and (max-width: 559px) {
  .cover {
    width: 500px;
    min-height: 313px;
  }
}

@media screen and (min-width: 340px) and (max-width: 499px) {
  .cover {
    width: 340px;
    min-height: 213px;
  }
}

@media screen and (max-width: 339px) {
  .cover {
    width: 320px;
    min-height: 200px;
  }
}