.cover__overlay {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 17, 18, .3);
  transition: .2s linear;
}

.cover__overlay:hover {
  background-color: rgba(16, 17, 18, .5);
}
