.place {
  display: flex;
  max-width: 984px;
  max-height: 660px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    max-width: 928px;
    max-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    max-width: 720px;
    max-height: 582px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    flex-direction: column;
    max-height: 1440px;
  }
}