.place {
  display: flex;
  max-width: 984px;
  max-height: 660px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.place:last-child {
  padding-bottom: 0;
}

/* @media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    max-height: 640px;
  }
} */

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .place {
    max-width: 928px;
    max-height: 640px;
  }
}